

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
}
 /* common shared style  */
 .primary-color{
   color: rgb(255, 0, 0);
 }

/* banner style  */
.banner{
    max-width: 1320px;
    height: 600px;
    background-image: linear-gradient(180.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%), url("../images/Banner\ Image.png");
    margin: 0 auto;
 
}
.banner-content{
    padding:177px ;
}

.banner-title{
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    /* line-height: 95px; */
    text-align: center;
    color: rgb(255, 255, 255);
    margin-top: 15px;
}
.banner-subtitle{
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    /* line-height: 40px; */
    letter-spacing: 0%;
    text-align: center;
    color: rgb(255, 255, 255);
    /* margin-top: 17px; */
}

/* discount section style  */
.discount{
   margin-top: 120px;
   margin-bottom: 120px;
}
.discount-title{
    color: #ff0000;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 48px;

}
.discount-description{
    color: #ff0000;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 16px;
}
.discount-category{
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 0%;
    text-align: center;
    color: rgb(7, 2, 17);
    margin-bottom: 48px;
}
.discount .img{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
 .discount img{
    border:3px dashed rgba(45, 115, 227, 0.733);
 }

 /* well comming section  */
  .welcoming{
    max-width: 1320px;
    height: 600px;
    background-image:linear-gradient(80deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%),url("../images/Vectorrr.png");
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    margin-bottom:120px ;
  }
 .welcoming-content{
    width: 70%;
    padding: 126px;
 }
  .welcoming-title{
    text-align: left;
    margin-bottom: 24px;
  }
  .welcoming-description{
      font-family: Inter;
      font-size: 18px;
      font-weight: 400;
      text-align: left;
      color: rgba(255, 255, 255, 0.8);
  }
  .welcoming button{
      font-family: Inter;
      font-size: 20px;
      font-weight: 700;
      text-align: left;
      text-transform: uppercase;
      color: rgb(255, 255, 255);
      background-color: transparent;
      margin-top: 48px;
      border: none;
      margin-left: 50px;
  }
   .welcoming button:hover{
      border: 3px solid red;
      padding: 9px 17px;
      border-radius: 5px;
   }
  .img-container{
    width: 30%;
  }
  .welcoming .img-container{
    margin-right:130px ;
  }
  .welcoming img{
    border: 3px dashed #fff ;
  }


  /* place- time section  */

  .place-time-content{
     max-width:1320px;
      height: 420px;
      margin: 0 auto;
      background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);
      border-radius: 16px;
      padding-top: 120px;
      margin-bottom: 100px;
    }
  .place-time{
      font-size: 32px;
      font-weight: 600;
      text-align: center;
      font-family: Inter;
      color: rgb(7, 2, 17);
      margin-bottom:20px;
     
  }
  .place-btn{
     color: rgb(255, 255, 255);
     font-family: Inter;
     font-size: 20px;
     font-weight: 700;
     background: rgb(255, 0, 0);
     border-radius: 8px;
     border: none;
     padding: 16px 32px 16px 32px;
    margin-top: 48px;

  }

  /* comming soon section  */

    .coming-soon-container{
        max-width: 1320px;
        height: 463px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: left;
        gap: 80px;
        margin-bottom: 120px;
        
    }   

    .coming-soon-container1{
        width: 35%;
    }
    .coming-subtitle{
        font-family: Inter;
        font-size: 24px;
        font-weight: 500;
        color: rgb(255, 0, 0);
    }
    .coming-title{
        font-family: Merriweather;
        font-size: 48px;
        font-weight: 900;
        color: rgb(7, 2, 17);
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .coming-description{
        font-family: Inter;
        font-size: 20px;
        font-weight: 400;
        color: rgba(7, 2, 17, 0.6);
    }
    .coming-soon-container2{
      width: 35%;
      padding: 35px;
      border: 15px solid red;
      border-radius: 50%;
    }
    .coming-soon-container2 img{
        border:3px dashed#b8b7b7;
    } 
  
    .coming-soon-container3{
      width: 30%;
    }

    .coming-year{
        color: #ff0000;
        font-family: Inter;
        font-size: 48px;
        font-weight: 700;
    }
     .coming-description2{
        margin-top: 15px;
        margin-bottom: 45px;
        font-family: Inter;
        font-size: 20px;
        font-weight: 400;
        color: rgba(7, 2, 17, 0.6);
     }
    .happy-new-img img{
        border:3px dashed rgba(93, 112, 142, 0.733);
        
    }


    /* section holy day  */

    .holiday-container{
       width: 1320px;
        height: 986px;
        margin: 0 auto;
        margin-bottom: 100px;
        /* border: 2px solid red; */
        position: relative;


    }
    .holyday-text-container{
        width: 1068px;
        height: 260px;
        margin: 0 auto;
    }
     .holyday-subtitle{
        color: rgb(7, 2, 17);
        font-family: Inter;
        font-size: 29px;
        font-weight: 500;
        margin-bottom: 20px;
        text-align: center;
     }
     .holyday-title{
        font-family: Merriweather;
        color: rgb(7, 2, 17); 
        font-size: 72px;
        font-weight: 900;
        text-align: center;
     }
    .holyday-paragraph{
        color: rgba(7, 2, 17, 0.6);
        font-family: Inter;
        font-size: 20px;
        font-weight: 500;
        line-height: 32px;
        letter-spacing: 0%;
        text-align: center;
        margin-top: 28px;
        margin-bottom: 64px;
    }

    .solid-color{
        width: 1320px;
        height: 223px;
        background-color: #ff0000;
        position: absolute;
        top: 77.5%;
    }
    
    .gift-box{
        width: 674.82px;
        height: 577.96px;
        position: relative;
        z-index: 1;
        display: flex;
        justify-content: space-between;
        gap: 176.2px;

    }
    .girl-container{
        /* width: 450px;
        height: 450px; */
        position: relative;
        top: 9.3%;
    }
    /* .girl-container img{
        width: 100%;
        height: 100%;
    } */
     .discount-img{
       position: relative;
       top: 19%;
       right: 116%;
     }

    .portfolio-section{
        max-width:1320px ;
        height: 1163px;
        margin: 0 auto;
        margin-bottom: 120px;
        
    }
    .portfolio-text h3{
        color: rgb(255, 0, 0);
        font-family: Inter;
        font-size: 24px;
        font-weight: 500;
        line-height: 29px;
       margin-bottom: 20px;
        
    }
    .portfolio-text h1{
        color: rgb(7, 2, 17);
        font-family: Merriweather;
        font-size: 48px;
        font-weight: 900;
    }
    .portfolio-text p{
        color: rgba(7, 2, 17, 0.6);
        font-family: Inter;
        font-size: 20px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0%;
        text-align: left;
        margin-top: 20px;
        margin-bottom: 45px;
    }
  .gift-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
  }
  item{
    width: 100%;
    height: 100%;
  }